<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a New Team in <%= link_to Club.find(@club_id).name, Club.find(@club_id) %></h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= flash[:error] %>
        <%= simple_form_for @team do |t| %>
          <%= t.hidden_field :club_id, value: @club_id %>
          <%= t.input :name, label: 'Team Name' %>
          <%= t.input :description, placeholder: "Describe your team", as: :text, input_html: {rows: 7}, label: false %>
          <%= t.input :closed, label: 'Closed', value: false %>
          <%= t.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
