<% if current_user.teams.include? @team %>
  <div class="page-header">
    <h1><%= link_to @team.club.name, @team.club %>.<%= @team.name %> <br />
    <small><%= @team.description %></small></h1>
  </div>

  <% if @team.leader_id == current_user.id or (@team.name == "general" and @team.club.officers.include? current_user) %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <%= simple_form_for(@announcement, url: announcements_path, method: 'post') do |f| %>
            <%= f.hidden_field :team_id, value: @team.id %>
            <div class="panel-body">
              <%= f.input :title, placeholder: "Announcement Title", label: false %>
              <%= f.input :content, placeholder: "Write an announcement (in Markdown!)...", as: :text, input_html: {rows: 8}, label: false %>
              <%= f.input :email_blast, label: 'Send out email?', value: false %>
            </div>
            <div class="panel-footer">
              <%= f.button :submit, "Announce" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% @team.feed.each do |a| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><%= render a %></div>
    </div>
  <% end %>
<% else %>
<div class="jumbotron">
  <h1>You're not in <%= link_to @team.club.name, @team.club %>.<%= @team.name %>!</h1>
  <% if @team.closed %>
    <% if TeamJoinRequest.where(user_id: current_user.id, team_id: @team.id).size == 0 %>
      <p>The team leader has chosen to make it private, but you're free to request access</p>
      <p><%= button_to "Request Access", request_to_join_path(id: @team.id), :class => "btn btn-lg btn-primary", :method => :patch %></p>
    <% else %>
      <p>Having second thoughts? Retract your join request at any time</p>
      <p><%= button_to "Retract Request", retract_request_path(id: TeamJoinRequest.where(team_id: @team.id, user_id: current_user).first.id), :class => "btn btn-lg btn-warning", :method => :patch %></p>
    <% end %>
  <% else %>
    <p>Luckily for you, it's open.</p>
    <p><%= button_to "Join "+@team.name, join_team_path(id: @team), :class => "btn btn-lg btn-success", :method => :patch %></p>
  <% end %>
</div>
<% end %>
