<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to announcement.team.club.name, announcement.team.club %>.<%= link_to announcement.team.name, announcement.team %>
  </div>
  <div class="panel-heading">
    <% if announcement.user == current_user %>
      <%= button_to destroy_announcement_path(id: announcement.id), class: "close", method: :patch do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
    <% end %>
    <h3 class="panel-title"><%= announcement.title %></h3>
  </div>
  <% if announcement.content != nil %>
    <div class="panel-body">
      <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTMLwithYouTube, fenced_code_blocks: true, tables: true, disable_indented_code_blocks: true, no_intra_emphasis: true, autolink: true, superscript: true) %>
      <%= markdown.render(announcement.content).html_safe %>
    </div>
  <% end %>

  <div class="panel-footer">
    <% if announcement.comments.size > 0 %>
        <ul class="list-group">
          <% announcement.comments.each do |c| %>
            <li class="list-group-item"><%= render c %></li>
          <% end %>
        </ul>
    <% end %>
    <%= simple_form_for(@comment, url: comments_path, method: 'post') do |f| %>
      <%= f.hidden_field :announcement_id, value: announcement.id %>
      <%= f.input :content, placeholder: 'Leave a comment...', label: false %>
    <% end %>
  </div>

</div>
