<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Team Join Requests
        </a>
      <span class="badge"><%= @team.team_join_requests.size %></span>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.team_join_requests.each do |tjr| %>
          <%= render tjr %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Team Members
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.users.each do |u| %>
          <li class="list-group-item">
            <%= u.name %>
            <% if @team.leaders.include? u %>
              <span class = "pull-right">Leader</span>
            <% else %>
              <span class="pull-right">
                <%= button_to "Remove", remove_user_path(team_id: @team.id, user_id: u.id), :class => "btn btn-danger btn-xs", :method => :patch %>
              </span>
              <span class="pull-right">
                <%= button_to "Promote", promote_user_path(team_id: @team.id, user_id: u.id), :class => "btn btn-success btn-xs", :method => :patch %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Add Members from <%= @team.club.name %>
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.club.members.each do |u| %>
          <% unless @team.users.include? u %>
            <li class="list-group-item">
              <%= u.name %>
              <span class="pull-right">
                <%= button_to "Add", add_user_to_team_path(team_id: @team.id, user_id: u.id), :class => "btn btn-success btn-xs", :method => :patch %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Equipment
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Condition</th>
          <th>Owner</th>
          <th></th>
        </thead>
        <tbody>
          <% @team.equipment.each do |e| %>
            <tr>
              <td><%= e.name %></td>
              <td><%= e.condition %></td>
              <% if e.checked_out? %>
                <td><%= e.user.name %></td>
              <% else %>
                <td>N/A</td>
              <% end %>
              <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal<%= e.id %>">Edit</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Equipment Modals -->
<% @team.equipment.each do |e| %>
<!-- Modal -->
<div id="modal<%= e.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editing <%= e.name %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(e, url: equipment_path, method: 'patch') do |f| %>
          <%= f.hidden_field :equipment_id, value: e.id %>
          <div class="panel-body">
            <%= f.input :name, placeholder: "Name", label: false %>
            <%= f.input :condition, placeholder: "Condition", label: false %>
            <% if e.checked_out? %>
              <%= f.input :user_id,  as: :radio_buttons, label: "Revoke ownership from #{e.user.name}", value: false %>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, "Update" %>
        <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
