<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Team Join Requests
        </a>
      <span class="badge"><%= @team.team_join_requests.size %></span>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.team_join_requests.each do |tjr| %>
          <%= render tjr %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Team Members
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.users.each do |u| %>
          <li class="list-group-item">
            <%= u.name %>
            <% if @team.leaders.include? u %>
              <span class = "pull-right">Leader</span>
            <% else %>
              <span class="pull-right">
                <%= button_to "Remove", remove_user_path(team_id: @team.id, user_id: u.id), :class => "btn btn-danger btn-xs", :method => :patch %>
              </span>
              <span class="pull-right">
                <%= button_to "Promote", promote_user_path(team_id: @team.id, user_id: u.id), :class => "btn btn-success btn-xs", :method => :patch %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Add Members
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <ul class="list-group">
        <% @team.club.members.each do |u| %>
          <% unless @team.users.include? u %>
            <li class="list-group-item">
              <%= u.name %>
                <span class="pull-right">
                  <%= button_to "Add", add_user_to_team_path(team_id: @team.id, user_id: u.id), :class => "btn btn-success btn-xs", :method => :patch %>
                </span>
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
