<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Proj2" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Proj2" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
  </header>
  <% if user_signed_in? %>
  <div class="top-bar">
    <span id="title-bar-text">Yolo</span>
  </div>
  <% end %>
  <div class="wrapper" id="wrapper">
    <div class="main-content">
      <% if user_signed_in? %>
      <div id="sidebar-wrapper">
        <%= render 'layouts/navigation/sidebar' %>
      </div>
      <% end %>
      <div id="page-content-wrapper">
        <main role="main">
         <%= render 'layouts/messages' %>
           <%= yield %>
       </main>
     </div>
   </div>
 </div>

 <script>
 var clicked = false;
 $("#title-bar-text").click(function(e) {
  clicked = !clicked;
  if (clicked) {
    $("#wrapper").removeClass("toggled");
  } else {
    $("#wrapper").addClass("toggled");
  }
});
 $("#title-bar-text").hover(
  function(e) {
    e.preventDefault();
    $("#wrapper").removeClass("toggled");
  },
  function(e) {
    if (!clicked) {
      $("#wrapper").addClass("toggled");
    }
  }
  );
 $("#sidebar-wrapper").hover(
  function(e) {
    e.preventDefault();
    $("#wrapper").removeClass("toggled");
  },
  function(e) {
    if (!clicked) {
      $("#wrapper").addClass("toggled");
    }
  }
  );
 </script>




 </html>
